<table>
        <tr>
            <td>Mech Name: {{entry.name}}</td>
        </tr>
        <tr>
            <td>Pilots: {{entry.pilots}}</td>
        </tr>
        <tr>
            <td>Type: {{entry.type}}</td>
        </tr>
        <tr>
            <td>Number of Attacks: {{entry.attacks}}</td>
        </tr>
        <tr>
            <td>HP: {{entry.HP}}</td>
        </tr>
</table>
<a href="/unit_list?name={{activeName}}">Back</a><br>